@{
    ViewBag.Title = "About Page";
    Layout = "_Layout";

    // Define variable profile variables
    var name = "Breno Lopes Mafra";
    var studentNumber = "101485572";
    var courseCode = "COMP2139";
    var courseSection = "50259";
}

<h2>About</h2>

<div>
    <h2>Welcome to my application</h2>
    <p>Name: @name</p>
    <p>Student Number: @studentNumber</p>
    <p>Course code: @courseCode</p>
    <p>Section: @courseSection</p>
</div>
